.create-user-container {
	margin-top: 2.5rem;
	margin-bottom: 6rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

md-card {
	max-width: 25rem;
	margin: 0 auto;
}

h1 {
	margin: 0;
	font-weight: 100;
}

md-input-container {
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.scopes md-checkbox {
	display: block;
}
