.server-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

md-card-title {
	width: 100%;
	display: flex;
	justify-content: space-between;

	h3 {
		margin: 0;
		font-weight: 300;
	}
}

.card-controls {
	md-card-subtitle {
		display: flex;
		align-items: flex-end;

		span {
			margin-left: 0.5rem;
		}
	}

	.button-controls,
	.button-misc {
		margin-bottom: 0.25rem;
	}
}

.card-console {
	grid-column: span 2;

	.console-output {
		white-space: pre-wrap;
	}

	.console-input {
		display: flex;
		align-items: center;

		md-input-container {
			width: 100%;
			margin-right: 1rem;
		}
	}
}
