.server-container {
	width: 100% * (2 / 3);
	margin: 0 auto 6rem;
	padding-top: 2rem;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1rem;
}

md-card-title h3 {
	margin: 0;
	font-weight: 300;
}

.card-controls {
	md-card-subtitle {
		display: flex;
		align-items: flex-end;

		span {
			margin-left: 0.5rem;
		}
	}

	.button-controls,
	.button-misc {
		margin-bottom: 0.25rem;
	}
}
