/* Material Design Theme */
@import './theme';

// Go through components passing MD theme
@import '../app/shared/navbar/navbar-theme';
@include nav-bar-theme($theme);

html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

app-search md-list-item .mat-list-item-content {
	justify-content: space-between;

	.mat-list-text {
		width: initial !important;
	}
}

.container {
	width: 100% * (2 / 3);
	margin: 0 auto 6rem;
	padding-top: 2rem;
}
