<md-sidenav-container>
	<md-sidenav class="mat-elevation-z6" mode="side" opened="true">
		<h1>Search</h1>
		<div class="search-filter">
			<md-select placeholder="Minecraft Origin" [(ngModel)]="origin" (change)="search()">
				<md-option value="vanilla">Vanilla</md-option>
				<md-option value="technic">Technic</md-option>
				<md-option value="atlauncher">ATLauncher</md-option>
			</md-select>
			<h3>Filter Tags</h3>
			<md-checkbox *ngFor="let tag of tags" [(ngModel)]="tagFilter[tag]">{{ tag }} ({{ tagCount[tag] }})</md-checkbox>
		</div>
	</md-sidenav>
	<div class="container">
		<div class="search-bar">
			<md-input-container floatPlaceholder="never">
				<input mdInput [(ngModel)]="queryString" (keyup)="search()" [placeholder]="origin === 'vanilla' ? 'Search for a Minecraft version' : 'Search for a modpack'">
				<md-icon mdSuffix>search</md-icon>
			</md-input-container>
		</div>
		<md-list>
			<ng-container *ngFor="let result of results; let i = index">
				<md-divider *ngIf="i !== 0"></md-divider>
				<md-list-item>
					<h3 md-line>{{ result.name }}</h3>
					<md-chip-list md-line>
						<md-chip *ngFor="let tag of result.tags" [color]="tagColorMap[tag] || tagColorMap.default">{{ tag }}</md-chip>
					</md-chip-list>
					<button md-raised-button color="accent" (click)="download(result.origin, result.id)">
						<md-icon>create</md-icon>
						Create Server
					</button>
				</md-list-item>
			</ng-container>
		</md-list>
		<a *ngIf="results.length === 0" md-button class="no-results" disabled>
			Nothing here to display!
		</a>
	</div>
</md-sidenav-container>
