<nav>
	<a md-button class="nav-logo" routerLink="/">
		<img src="/assets/server-icon.png">
		Cbcraft
	</a>
	<div class="nav-links">
		<a md-button routerLink="/dashboard">
			<md-icon>dashboard</md-icon>
			Dashboard
		</a>
		<a md-button routerLink="/servers">
			<md-icon>dns</md-icon>
			Servers
		</a>
		<a md-button routerLink="/server">
			<md-icon>dns</md-icon>
			Server
		</a>
		<a md-button routerLink="/create">
			<md-icon>add</md-icon>
			Create Server
		</a>
		<a md-button routerLink="/search">
			<md-icon>search</md-icon>
			Search
		</a>
	</div>
	<div class="nav-right">
		<a *ngIf="!jwt" md-button routerLink="/login">
			<md-icon>person</md-icon>
			Login
		</a>
		<ng-container *ngIf="jwt">
			<a md-button>
				<img [src]="'https://crafatar.com/avatars/' + jwt.ign + '?overlay'">
				Logged in as {{ jwt.ign }}
			</a>
			<a md-button (click)="logout()">
				Logout
			</a>
		</ng-container>
	</div>
</nav>
