<nav class="mat-elevation-z6">
	<a md-button class="nav-logo" routerLink="/">
		<img src="/assets/server-icon.png">
		Cbcraft
	</a>
	<div class="nav-links">
		<a md-button routerLink="/dashboard">
			<i class="material-icons">dashboard</i>
			Dashboard
		</a>
		<a md-button routerLink="/servers">
			<i class="material-icons">dns</i>
			Servers
		</a>
		<a md-button routerLink="/search">
			<i class="material-icons">search</i>
			Search
		</a>
	</div>
	<div class="nav-right">
		<a md-button routerLink="/login">
			<i class="material-icons">person</i>
			Login with Minecraft Account
		</a>
	</div>
</nav>
